
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<PostViewModel>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Başlık</th>
            <th scope="col">Özet</th>
            <th scope="col">Kategorisi</th>
            <th scope="col">Yazar</th>
            <th scope="col">Yorum Sayısı</th>
            <th scope="col">Yayın Tarihi</th>
            <th colspan="2" scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td scope="row">@item.Title</td>

            <td>@item.ShortContent</td>
            <td>@item.CategoryName</td>
            <td>@item.AuthorName</td>
            <td>@item.CommentCount</td>
            <td>@item.PublishDate</td>
        

            @* bu rol kontrolünü cookieden yapar.  *@
            @if(User.IsInRole("Admin"))
             {
            <td>
                <label class="switch">
                    @if (item.IsActive)
                    {
                        <input type="checkbox" checked onchange="toggle(event, '@item.Id')">
                        <span class="slider round"></span>
                    }
                    else
                    {
                        <input type="checkbox" onchange="toggle(event,'@item.Id')">
                        <span class="slider round"></span>
                    }

                </label>
            </td>
            }
            <td>
                <a asp-area="Admin" asp-controller="Post" asp-action="Detail" asp-route-id="@item.Id">Detay</a>
            </td>
           
        </tr>
        }




    </tbody>
</table>


@section Scripts {

    <script>
        const toggle = (event, postId) => {
            const checked = event.target.checked;

            console.log('berkay7', checked);

            const param = {
                id: postId,
                isActive: checked
            };


            // ajax ile post

            $.ajax({
                method: 'POST',
                url: '/Admin/Post/ChangeStatus/',
                contentType: 'application/json',
                data: JSON.stringify(param),
                success: function (response) {

                    if (response.isActive) {
                        alert('Makale görünür oldu')
                    } else {
                        alert('Makale kaldırıldı')
                    }
                   
                },
                error: function (err) {

                }
               
            })
        }
    </script>

}
